<div data-container="true" id="starter" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-title" id="crn-title-983082"><p class="lead text-left lead.text-left">Contas a Pagar</p></div><div class="component-holder ng-binding ng-scope" data-component="crn-grid" id="crn-grid-449047"><div crn-datasource="">
  <table class="table  table-bordered table-hover">
   
    <thead>
      <tr class="table-header">
        
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true" class="">Mes</div></th>
        <th><div data-container="true" draggable="true">Ano</div></th>
                <th class="active"><div data-container="true" draggable="true">Nº Doc</div></th>
        <th><div data-container="true" draggable="true">Tipo</div></th>
                <th class="active"><div data-container="true" draggable="true">Valor</div></th>
        <th><div data-container="true" draggable="true">Vencimento</div></th>
                <th class="active"><div data-container="true" draggable="true">Dt Pg</div></th>
        <th><div data-container="true" draggable="true">Situação</div></th>
      </tr>
    </thead>

    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
                <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
      </tr>
    </thead>
    


  </table>

</div></div></div>