<div data-container="true" id="starter" draggable="true"><div class="component-holder ng-binding ng-scope" data-component="crn-title" id="crn-title-764916"><p class="lead text-left lead.text-left">Contas a Receber</p></div><div class="component-holder ng-binding ng-scope" data-component="crn-grid" id="crn-grid-1035762"><div crn-datasource="">
  <table class="table  table-bordered table-hover">
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true">Nome</div></th>
        <th><div data-container="true" draggable="true">Dt Recebimento</div></th>
        <th><div data-container="true" draggable="true">Dt Conta</div></th>
        <th><div data-container="true" draggable="true">Valor</div></th>
        <th><div data-container="true" draggable="true">Juros</div></th>
        <th><div data-container="true" draggable="true">Pago</div></th>
        
      </tr>
    </thead>
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead>    
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead>    
    
    <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
        <thead>
      <tr class="table-header">
        <th class="active"><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        <th><div data-container="true" draggable="true"> </div></th>
        
      </tr>
    </thead> 
    
    
  </table>

</div></div></div>